<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Greeting</title>
</head>
<body>
    <h1> Hello from the Pokemon EJS ! </h1>
    <%= pokemonDetails.name %>
    <%= pokemonDetails.skills %>
    <%= pokemonDetails.type %>
</body>
</html>