<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Homepage</title>
</head>
<body>
    <h1>Pokemon HomePage</h1>
    <form class="search-form" action="/search" method="POST">
        <input type="text" name="pokemonName" autocomplete="off" />
        <input type="submit" value="Search Pokemon!" />
    </form>
</body>
</html>