body {
  height: fit-content;
  min-height: 90%;
  width: 100%;
  margin: 0;
  padding: 20px;
  position: absolute;
}

footer {
  position: absolute;
  bottom: 0;
}

.navbar {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.navbar li {
  margin: 0 10px 0 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
}
