<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Express App</title>
</head>
<body>
    <h1>My Express App!</h1>
    <%= data %>
    <ul>
    <% clothes.forEach(item => { %>
        <li> <%= item %> </li> 
    <% }) %>
    </ul>
</body>
</html>